/****************************************** TAG SELECTORS ******************************************/

    body {
        background-color: #e4f2f0;
        font-family: inherit;
    }

    h1 {
        color: #66bfbf;

    }

    h3 {
        color: #66bfbf;
    }

    hr {
        border-style: dotted none none;
        border-color:#99d8d0;
        border-width: 5px;
        width: 90%;
    }




/****************************************** CLASS SELECTORS ******************************************/

    .date {
        width: 70px;
    }

    .position {
        font-size: 12px;
        width: 90%;
    }

    .main_responsibilities {
        width: 80%;
    }    

    .responsibilities {
        text-align: justify;
        width: 95%;
    }

    .work {
            width: 90%;
        }

    .hobbies:hover {
        background-color:#99d8d0;
    }

    .contact:hover {
        background-color:#99d8d0;
    }

    .samoyed:hover {
        background-color:#99d8d0;
    }
