    body {
        background-color: #e4f2f0;
        font-family: inherit;
    }

    h1 {
        color: #66bfbf;

    }

    h3 {
        color: #66bfbf;
    }

    hr {
        border-style: dotted none none;
        border-color:#99d8d0;
        border-width: 5px;
        width: 90%;
    }
