/****************************************** TAG SELECTORS ******************************************/

body {
    background-color: #e4f2f0;
    font-family: sans-serif;
}

h1 {
    color: #66bfbf;
}

h3 {
    color: #66bfbf;
}

hr {
    border-style: dotted none none;
    border-color: #99d8d0;
    border-width: 5px;
    width: 80%;
}

ul {
    margin: 0;
    padding: 0;
    display: flex;
}

ul li {
    list-style: none;
    margin: 0 20px;
    transition: 0.5s;
}

ul li a {
    display: block;
    position: relative;
    text-decoration: none;
    padding: 6px;
    font-size: 15px;
    font-family: sans-serif;
    color: #66bfbf;
    text-transform: uppercase;
    transition: 0.5s;
}

ul li a:hover {
    transform: scale(2);
    opacity: 1;
    filter: blur(0);
}


/****************************************** CLASS SELECTORS ******************************************/

.date {
    width: 70px;
}

.position {
    font-size: 12px;
    width: 90%;
}

.main_responsibilities {
    width: 80%;
}

.responsibilities {
    text-align: justify;
    width: 95%;
}

.work {
    width: 90%;
}

.links {
    margin: 0;
    padding: 0;
    display: flex;
}